html, body {
  background-color: black;
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: large;
  font-weight: 200;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 8%;
  padding: 1rem;
  z-index: 3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.navbar-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar-list li {
  margin: 0 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.navbar a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  font-weight: 500;
}

a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
}

a:hover {
  font-weight: 500;
}

.section {
  z-index: 2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.section-box {
  width: 80vw;
  min-height: 60vh;
  padding: 5vw; 
  margin: 5vw;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 1px rgba(248, 246, 246, 0.6);
  border-radius: 8px;
}

.section-tiles-box {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 8px;
  overflow-x: scroll;
  box-shadow: 0px 0px -10px rgba(0, 0, 0, 1);
}

.section-header {
  font-size: clamp(30px, 3vw, 60px);
  font-weight: 400;
  margin: -5px 0 20px 0;
}

.section-textbox-header {
  margin: 0;
  margin-bottom: 10px;
  font-size: clamp(20px, 2vw, 36px);
  font-weight: 400;
}

.section-textbox-subheader {
  margin: 0;
  font-size: clamp(12px, 1.6vw, 20px);
  font-weight: 300;
}

.section-textbox-time {
  margin: 5px 0 0 0;
  font-size: clamp(12px, 1.6vw, 20px);
  font-weight: 200;
  font-style: italic;
}

.section-textbox-list {
  list-style: none;
  padding: 0px;
}

.section-textbox-list-item {
  padding: 2px;
}


.section-text {
  padding: clamp(8px, 0.8vw, 16px);
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 2px;
  border-radius: 8px;
  padding: 50px;
  box-shadow: 0 2px 2px rgba(248, 246, 246, 0.6);
  height: 40vh;
  scrollbar-color: white;
  z-index: 5;
}

.exp-tiles {
  width: 22vw;
}

.exp-1 {
  grid-column: 1 / 2;
}

.exp-2 {
  grid-column: 2 / 3;
}

.exp-3 {
  grid-column: 3 / 4;
}

.exp-4 {
  grid-column: 4 / 5;
}

.exp-5 {
  grid-column: 5 / 6;
}

.proj-tiles {
  width: 100vw;
}

.proj-1 {
  grid-column: 1 / 2;
}

.proj-2 {
  grid-column: 2 / 3;
}

.proj-3 {
  grid-column: 3 / 4;
}

.proj-4 {
  grid-column: 4 / 5;
}

#intro {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  opacity: 1;
  user-select: none;
}

.massive-text {
  font-size: clamp(80px, 8vw, 160px);
  margin: 0 0 -10px 0;
  font-weight: 400;
  opacity: 1;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.smaller-text {
  font-size: clamp(20px, 2vw, 40px);
  font-weight: 200;
  opacity: 0.8;
}

:root {
  --color-bg1: rgb(0, 0, 0);
  --color-bg2: rgb(0, 9, 46);
  --color1: 108, 13, 255;
  --color2: 140, 54, 255;
  --color3: 0, 100, 255;
  --color4: 200, 50, 50;
  --color5: 100, 20, 50;
  --color6: 200, 10, 200;
  --color-interactive: 120, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;

  svg {
    display: none;
  }

  .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: calc(var(--circle-size) * 1.5);
    height: calc(var(--circle-size) * 1.5);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: center center;
    animation: moveVertical 10s ease infinite;
    opacity: 0.6;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% + var(--circle-size) / 2);
    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: calc((--circle-size) / 2);
    height: calc(var(--circle-size) / 2);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
    transform-origin: calc(50% + 900px);
    animation: moveInCircle 40s linear infinite;
    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(20%) - var(--circle-size);
    left: calc(20%);
    transform-origin: calc(50% - 600px);
    animation: moveHorizontal 20s ease infinite;
    opacity: 1;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));
    transform-origin: calc(50% + 100px) calc(50% + 500px);
    animation: moveInCircle 20s ease infinite;
    opacity: 1;
  }

  .g6 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color6), 0.8) 0, rgba(var(--color6), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: calc(var(--circle-size));
    height: calc(var(--circle-size));
    top: calc(50% + var(--circle-size));
    left: calc(50% - var(--circle-size));
    transform-origin: calc(50% + 400px) calc(50% - 400px);
    animation: moveInCircle 30s ease infinite;
    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    opacity: 0.7;
  }
}
